doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Backnode.js
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    // responsize lib
    link(href='lib/responsize/dist/responsize.css', rel='stylesheet')
    script(src='lib/responsize/dist/responsize.js')

    // backnode includes
    link(href='backnode.css', rel='stylesheet')
    script(src='backnode.js')

  body
    // backnode app
    #app.backnode-app
      include backnode/App.jade
    script.
      new backnode.App(document.getElementById('app'));
