$primary-color: #323b46;
$secondary-color: #29313c;
$border-color: #29313c;

$body-bg-url: '/img/background.png';
$logo-url: '/img/backnode.png';
$switch-url: '/img/switch.png';
$import-url: '/img/import-file.png';
